
$primary-main: #6688FF;
$primary-light: #EDF4FF;
$primary-sub: #87B6FF;

$text-white: #FFF;
$text-gray: #AEAEAE;
$text-active: #6688FF;

$bg-white: #FFF;
$bg-gray: #AEAEAE;

$table-header: #E3E3E6;
$table-body: #F5F5F6;

//サンプルから
$puple-main: #793FCA;
$puple-sub: #5C50BF;
$puple-light: #A89EFF;

$green-main: #00CC9C;
$green-sub: #12B28D;
$green-light: #00ebb3;

$blue-main: #5A95EB;
$blue-sub: #4674B8;
$blue-light: #94BFFF;

$orange-main: #F48E16;
$orange-sub: #CC6E00;
$orange-light: #FFB763;

$yellow-main: #EACA24;
$yellow-sub: #D1B10A;
$yellow-light: #FFE459;

$pink-main: #C02743;
$pink-sub: #8C1031;
$pink-light: #F24B69;

$red-main: #ff0000;
$red-sub: #f0124d;
$red-light: #e25c74;

$black: #0C0E23;
$navy: #181C4A;
$gray: #7D7F96;
$navy-light: #536280;